.maindiv
{
height: auto;
/* background-color: red; */
font-size: 15px;
justify-content: center;

}
.headingdiv
{
    /* background-color: black; */
    color: #504b4b;
    font-size: 12px;
    letter-spacing: 4px;
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
    height: 50px;
    justify-content: center;
    align-content: baseline;
}
.fielddiv
{
    width: 100%;
    /* color: red; */
    /* background-color: brown; */
    display: flex;
    gap: 50px;
    margin-block-end: 25px;
}
.Label
{
    /* background-color: aqua; */
    font-size: 15px;
}
.inputfield
{
    color: black;
    width: 448px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.fielddiv > div {
    display: flex;
    flex-direction: column; /* Stack the label above the input */
    align-items: flex-start; /* Align items to the start */
  }

  .inputfile
  {
    color: black;
    width: 220px;
    height: 40px;
    border: 1px solid #ccc;
  }
  .Addicon
  {
    /* background-color: red; */
    margin-block: auto;
    padding: 5px;
    margin-block-start: 20px;
    align-items: center;
  }
  .btnSubmit
  {
    /* background-color: red; */
    margin-inline-start: 350px;
    align-items: center;
    padding: 50px;
  }
  .btnSub
  {
    width: 200px;
    height: 61px;
    background-color: #302c2c;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .labeldiv
  {
    /* background-color: red; */
    margin-block-end:8px;
  }
  .fielddivcheck
  {
    /* background-color: red; */
    margin-block-end: 13px;
  }
  .file_upload_input {
    width: 220px;
    height: 30px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 30px; /* Add padding to prevent text from overlapping with the icon */
  
  }
  
  .file_upload_input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .btnaddi
  {
    padding: 5px;
    border: 1px solid #ccc;
    width: 46px;
  }
  .requiredStar {
    color: red; /* Red color for the star */
    margin-left: 5px; /* Space between label text and star */
  }
  .errorcode
  {
    color: red; /* Red color for the star */
    margin-left: 400px; /* Space between label text and star */
    padding: 0;
    margin: 0;
  }
  .inputWrapper {
    position: relative; /* Create a relative positioning context for the icon */
    display: inline-block; /* Keep the input field size consistent */
  }
  .uploadIcon {
    position: absolute;
    right: 10px; /* Position the icon inside the input field */
    top: 50%;
    transform: translateY(-50%); /* Center the icon vertically */
    pointer-events: none; /* Make sure clicking the icon doesn't interfere with input click */
    color: #2d2c2c; /* Set the icon color */
  }
  
  